nav{
  overflow: hidden;
  background-color: brown;
  position: relative;
  padding: 10px;
}


.top-nav-center{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li{
  margin: 0 3px 0 3px;
  list-style: none;
  float: left;
}
.top-nav-right{
  float: right;
}
.card{
  width: 18rem;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
}
.price{
  color: red;
}
.product-buttons{
  width: 100%;
}
.product-buttons button{
  width: 50%;
  margin: 0 3px 0 3px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: blue;
}